.bear-span {
  display: block;
  width: 90%;
  height: 100%;
  float: left;
}

.subarea {
  background-color: #fff !important;
  color: #4e73df !important;
  border: 1px solid #4e73df !important;
}

.bear-list {
  border: 0;
}

.my-crd {
  border: 0 !important;
}

/* .false {
  background-color: #fff !important;
  color:  #4e73df !important;
  border: 1px solid #4e73df !important;
} */


