.form-container button {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    height: 50px;
}

.form-container input {
    border-radius: 20px;
    height: 50px;
}

.form-boiler {
    height: 600px;
}

#errors {
    margin-top: 10px;
}

.bg-img {
    background-position: center;
    background-size: 600px;
    background-repeat: no-repeat;
}
